* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #250CCA;
}

.game-container {
    text-align: center;
}

h1 {
    margin-bottom: 20px;
    color: #ffffff;
}

p {
    margin-bottom: 10px;
    font-size: 1.2em;
    color: #ffffff;
}

.game-board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(2, 100px);
    gap: 10px;
    justify-content: center;
    margin-bottom: 20px;
}

.card {
    width: 100px;
    height: 100px;
    background-color: #333;
    border-radius: 10px;
    cursor: pointer;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.5s;
}

.card.flipped {
    transform: rotateY(180deg);
}

.card img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
    background-color: #fff;
    border-radius: 10px;
    position: absolute;
    top: 0;
    left: 0;
    backface-visibility: hidden;
    transform: rotateY(180deg);
}

.card .back {
    background-color: #CA250C;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    position: absolute;
    backface-visibility: hidden;
}

#restart-button {
    padding: 10px 20px;
    font-size: 1em;
    background-color: #0CCA25;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#restart-button:hover {
    background-color: #0056b3;
}
